<div local-class="grid">

    <div local-class="grid_item" onclick={{@setShowParks}}>
        <img local-class="image" src="./assets/central_park.jpeg" />
        <div local-class="overlay">
            <p local-class="grid_text">Parks</p>
        </div>
    </div>

    <div local-class="grid_item" {{on "click" @setShowLodge}}>
        <img local-class="image" src="./assets/lodge.jpeg" />
        <div local-class="overlay">
            <p local-class="grid_text">Lodgings</p>
        </div>
    </div>

    {{!-- <div local-class="grid_item">
        <img local-class="image" src="./assets/central_park.jpeg" />
    </div>

    <div local-class="grid_item">
        <img local-class="image" src="./assets/lodge.jpeg" />
    </div>

    <div local-class="grid_item">
        <img local-class="image" src="./assets/central_park.jpeg" />
    </div>

    <div local-class="grid_item">
        <img local-class="image" src="./assets/lodge.jpeg" />
    </div> --}}


</div>