<a local-class="twitter-share-button" target="_blank" rel="nonreferrer" href={{this.twitterLink}} data-size="large"
  data-test="share-to-twitter-btn">
  <i class="fab fa-twitter"></i>
  <label local-class='label'>Tweet</label>

</a>

{{yield}}